body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #faf5f5;
    margin-bottom: 20px;
}

.highlight {
    animation: highlightAnimation 30s forwards;
}

@keyframes highlightAnimation {
    from {
        color: initial;
    }
    to {
        color: transparent;
    }
}